{% extends 'base.html' %}
{% block title %}
Главная страница
{% endblock %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Регистрация</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
 <div class="signin">
        <div class="signin__warp">
            <div class="signin__content">
                <div class="signin__logo">
                    <a href="/index.html"><img src="static/img/Food9.png" alt=""></a>
                </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                <div class="signin__form">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="false">
                                Регистрация
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">

                            </a>
                        </li>
                        <li class="nav-item">
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="signin__form__text">
                                <p></p>
                                <div class="signin__form__signup__social">
                                </div>
                                <div class="divide"></div>
                                <form action="#" method="POST">
                                    <tr>
                                        <td>Логин</td>
                                        <td><input type="text" name="login"></td>
                                    </tr>
                                    <tr>
                                        <td>Пароль</td>
                                        <td><input type="password" name="password"></td>
                                    </tr>
                                    <tr>
                                        <td>Повторите Пароль</td>
                                        <td><input type="password" name="password2"></td>
                                    </tr>
                                    <tr>
                                    <label for="sign-agree-check">
                                        Я не робот!
                                        <input type="checkbox" id="sign-agree-check">
                                        <span class="checkmark"></span>
                                    </label>
                                        <td><input type="submit" class="btn btn-outline-dark" value="Регистрация"></td>
                                    <td><a href="{{ url_for('login_page') }}" class="site-btn">Login</a></td>
                                </form>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



{% endblock %}