<!DOCTYPE html>
<html lang="ru">
<head>
    <link type="text/css" href="{{ url_for('static', filename= css/style.css) }}" rel="stylesheet" />
{{% block title %}}
{{% if title %}}
    <title>Pro Flask - {{title}}</title>
{% else %}
    <title>Pro Flask</title>
{{% endif %}}
{{% endblock %}}
</head>
<body>
{{% block content -%}}
    {{%- block mainmenu -%}}
<ul class="maimenu">
<li><a href="{{url_for('index')}}">Главная</a></li>
<li><a href="{{url_for('addPost')}}">Добавление записи</a></li>
</ul>
    {% endblock mainmenu -%}
<div class="clear"></div>
<div class="content"></div>
    {% if title -%}
<h1>{{title}}</h1>
    {% else -%}
<h1>Pro Flask</h1>
</body>